OrdersGui/Service References/EventMonitor/EventMonitor.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EventMonitor" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:64463/EventMonitor.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:64463/EventMonitor.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:64463/EventMonitor.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EventMonitorService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEventMonitor_releaseOrderOPC_InputMessage">
    <wsdl:part name="parameters" element="tns:releaseOrderOPC" />
  </wsdl:message>
  <wsdl:message name="IEventMonitor_releaseOrderOPC_OutputMessage">
    <wsdl:part name="parameters" element="tns:releaseOrderOPCResponse" />
  </wsdl:message>
  <wsdl:message name="IEventMonitor_WriteOPCOrderStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:WriteOPCOrderStatus" />
  </wsdl:message>
  <wsdl:message name="IEventMonitor_WriteOPCOrderStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:WriteOPCOrderStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IEventMonitor_WriteOPCOrderStatus_UserExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/EventMonitorService" name="detail" element="q1:UserException" />
  </wsdl:message>
  <wsdl:message name="IEventMonitor_GetOpcServerState_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOpcServerState" />
  </wsdl:message>
  <wsdl:message name="IEventMonitor_GetOpcServerState_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOpcServerStateResponse" />
  </wsdl:message>
  <wsdl:message name="IEventMonitor_GetOpcServerState_UserExceptionFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/EventMonitorService" name="detail" element="q2:UserException" />
  </wsdl:message>
  <wsdl:portType name="IEventMonitor">
    <wsdl:operation name="releaseOrderOPC">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventMonitor/releaseOrderOPC" message="tns:IEventMonitor_releaseOrderOPC_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEventMonitor/releaseOrderOPCResponse" message="tns:IEventMonitor_releaseOrderOPC_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WriteOPCOrderStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventMonitor/WriteOPCOrderStatus" message="tns:IEventMonitor_WriteOPCOrderStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEventMonitor/WriteOPCOrderStatusResponse" message="tns:IEventMonitor_WriteOPCOrderStatus_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEventMonitor/WriteOPCOrderStatusUserExceptionFault" name="UserExceptionFault" message="tns:IEventMonitor_WriteOPCOrderStatus_UserExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOpcServerState">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventMonitor/GetOpcServerState" message="tns:IEventMonitor_GetOpcServerState_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEventMonitor/GetOpcServerStateResponse" message="tns:IEventMonitor_GetOpcServerState_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEventMonitor/GetOpcServerStateUserExceptionFault" name="UserExceptionFault" message="tns:IEventMonitor_GetOpcServerState_UserExceptionFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEventMonitor" type="tns:IEventMonitor">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="releaseOrderOPC">
      <soap:operation soapAction="http://tempuri.org/IEventMonitor/releaseOrderOPC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WriteOPCOrderStatus">
      <soap:operation soapAction="http://tempuri.org/IEventMonitor/WriteOPCOrderStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="UserExceptionFault">
        <soap:fault use="literal" name="UserExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetOpcServerState">
      <soap:operation soapAction="http://tempuri.org/IEventMonitor/GetOpcServerState" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="UserExceptionFault">
        <soap:fault use="literal" name="UserExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EventMonitor">
    <wsdl:port name="BasicHttpBinding_IEventMonitor" binding="tns:BasicHttpBinding_IEventMonitor">
      <soap:address location="http://localhost:64463/EventMonitor.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>