OrdersGui/Service References/EventMonitor/EventMonitor1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EventMonitorService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EventMonitorService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ErrorObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="Exception" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WasItSuccessfull" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ErrorObject" nillable="true" type="tns:ErrorObject" />
  <xs:complexType name="UserException">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExceptionMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserException" nillable="true" type="tns:UserException" />
</xs:schema>