OrdersGui/Service References/NonTransactionalFunctions/NonTransactionalFunctions2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:64463/NonTransactionalFunctions.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EventMonitorService" />
  <xs:import schemaLocation="http://localhost:64463/NonTransactionalFunctions.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetLoadOrders">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLoadOrdersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EventMonitorService" minOccurs="0" name="GetLoadOrdersResult" nillable="true" type="q1:ArrayOfLoadOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLoadRackArms">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getLoadRackArmsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/EventMonitorService" minOccurs="0" name="getLoadRackArmsResult" nillable="true" type="q2:ArrayOfLoadRackArm" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFinishedProducts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFinishedProductsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetFinishedProductsResult" nillable="true" type="q3:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLoadOrderDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLoadOrderDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/EventMonitorService" minOccurs="0" name="getLoadOrderDetailsResult" nillable="true" type="q4:ArrayOfLoadOrderDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLoadOrderDetailsCompartments">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLoadOrderDetailsCompartmentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/EventMonitorService" minOccurs="0" name="getLoadOrderDetailsCompartmentsResult" nillable="true" type="q5:ArrayOfLoadOrderDetailsCompartments" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssignCompartmentsNosAndCapacityFromDb">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OrderId" type="xs:int" />
        <xs:element minOccurs="0" name="OrderNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssignCompartmentsNosAndCapacityFromDbResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/EventMonitorService" minOccurs="0" name="GetAssignCompartmentsNosAndCapacityFromDbResult" nillable="true" type="q6:ArrayOfLoadOrderDetailsCompartments" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContainers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="number" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="page" type="xs:int" />
        <xs:element minOccurs="0" name="range" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContainersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/EventMonitorService" minOccurs="0" name="GetContainersResult" nillable="true" type="q7:ArrayOfContainer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContainer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContainerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/EventMonitorService" minOccurs="0" name="GetContainerResult" nillable="true" type="q8:Container" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getContainerCompartments">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CompartmentId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getContainerCompartmentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/EventMonitorService" minOccurs="0" name="getContainerCompartmentsResult" nillable="true" type="q9:ArrayOfCompartment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSAPMaterials">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSAPMaterialsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/EventMonitorService" minOccurs="0" name="GetSAPMaterialsResult" nillable="true" type="q10:ArrayOfSAPMaterial" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMaterials">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMaterialsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/EventMonitorService" minOccurs="0" name="GetMaterialsResult" nillable="true" type="q11:ArrayOfMaterial" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRebrandedProducts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRebrandedProductsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/EventMonitorService" minOccurs="0" name="GetRebrandedProductsResult" nillable="true" type="q12:ArrayOfRebrandedProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLoadOrderProducts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLoadOrderProductsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/EventMonitorService" minOccurs="0" name="GetLoadOrderProductsResult" nillable="true" type="q13:ArrayOfLoadOrderProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCompletedSAPLoadOrderCompartmentSeals">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getCompletedSAPLoadOrderCompartmentSealsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/EventMonitorService" minOccurs="0" name="getCompletedSAPLoadOrderCompartmentSealsResult" nillable="true" type="q14:ArrayOfSAPLoadOrderCompartmentSeal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSystemInfo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSystemInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/EventMonitorService" minOccurs="0" name="GetSystemInfoResult" nillable="true" type="q15:Wb7System" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertLoadOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/EventMonitorService" minOccurs="0" name="loadOrder" nillable="true" type="q16:LoadOrder" />
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/EventMonitorService" minOccurs="0" name="products" nillable="true" type="q17:ArrayOfLoadOrderProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertLoadOrderResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLoadOrderTruckNo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLoadOrderTruckNoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetLoadOrderTruckNoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWinblendTanks">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWinblendTanksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/EventMonitorService" minOccurs="0" name="GetWinblendTanksResult" nillable="true" type="q18:ArrayOfTank" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>